{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-length": null,
    "rule-empty-line-before": null,
    "color-hex-case": null,
    "selector-pseudo-element-colon-notation": null,
    "no-missing-end-of-source-newline": null,
    "no-eol-whitespace": null,
    "number-leading-zero": null,
    "comment-empty-line-before": null,
    "comment-whitespace-inside": null,
    "declaration-empty-line-before": null,
    "indentation": null,
    "declaration-colon-newline-after": null,
    "selector-list-comma-newline-after": null,
    "function-parentheses-space-inside": null,
    "at-rule-empty-line-before": null,
    "block-opening-brace-space-before": null,
    "shorthand-property-no-redundant-values": null,
    "length-zero-no-unit": null,
    "block-closing-brace-empty-line-before": null,
    "block-no-empty": null,
    "declaration-colon-space-after": null,
    "declaration-block-semicolon-space-before": null,
    "declaration-block-trailing-semicolon": null,
    "max-empty-lines": null,
    "selector-descendant-combinator-no-non-space": null,
    "selector-combinator-space-before": null,
    "selector-combinator-space-after": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "property-no-unknown": null,
    "no-invalid-double-slash-comments": null,
    "function-comma-space-after": null,
    "block-closing-brace-space-before": null,
    "block-opening-brace-space-after": null,
    "block-closing-brace-newline-after": null,
    "declaration-block-no-duplicate-properties": null,
    "number-no-trailing-zeros": null,
    "declaration-block-semicolon-newline-after": null,
    "value-list-comma-space-after": null,
    "no-empty-source": null,
    "comment-no-empty": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "block-closing-brace-newline-before": null,
    "block-opening-brace-newline-after": null,
    "declaration-colon-space-before": null,
    "declaration-block-single-line-max-declarations": null,
    "declaration-bang-space-before": null,
    "function-linear-gradient-no-nonstandard-direction": null,
    "selector-type-no-unknown": null,
    "function-name-case": null,
    "selector-list-comma-space-before": null,
    "declaration-block-semicolon-space-after": null,
    "no-extra-semicolons": null,
    "declaration-bang-space-after": null,
    "function-comma-space-before": null,
    "media-feature-parentheses-space-inside": null,
    "media-feature-name-no-unknown": null
  }
}
